#Jenkinsfile
circle.yml
#README.md
data
run
*.iml
logs
.idea
#!.idea/codeStyles/codeStyleConfig.xml
#!.idea/codeStyles/Project.xml
#.github
#Dockerfile
#docker-compose.yml
/target
/release-script
/worlds
#.mvn
dependency-reduced-pom.xml
