[submodule "src/main/resources/locale/nukkit"]
	path = src/main/resources/locale/nukkit
	url = https://github.com/NukkitX/Languages/
[submodule "src/main/resources/locale/vanilla"]
	path = src/main/resources/locale/vanilla
	url = https://github.com/NukkitX/Language/
