# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.java text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.ini text=auto
*.txt text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.dat binary
*.jar binary
*.class binary
