services:
  nukkit:
    build: ./
    ports:
      - "19132:19132"
      - "19132:19132/udp"
    volumes:
      - data:/data
    container_name: nukkit
    restart: unless-stopped
volumes:
  data:
    external: true
    name: nukkit-data
